<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Waste Platform</title>
    <style>
      .options {
        border: 2px solid black;
        padding: 10px;
        margin: 50px;
      }
      .options a {
        font-size: 18px;
        color: black;
        padding: 10px;
        margin: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the platform</h1>
    <div class="options">
      <a href="/register/user">Signup</a>
      <a href="/login">Login</a>
      <a href="/register/agency">Register Agency</a>
    </div>
  </body>
</html>
