*{
    overflow-x: hidden;
}

.background{
    background: url(/images/lines.png) no-repeat center center;
    background-size: 100% 100%;
    background-color: #1F643A;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-container{
    background-color: #FFF;
    width: 45%;
    margin: 5% auto;
    margin-top: 15%;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.5);
}

.community-container h2{
    color: #1F643A;
    font-family: 'Anek Latin';
    text-align: center;
    font-weight: bold;
}

label{
    color: #1F643A;
    font-family: 'Anek Latin';
    font-weight: bold;
}

input,textarea{
    background-color: #DDD8D8 !important;
}

.butn{
    background-color: #1F643A;
    color: #FFF;
    margin-top: 5%;
    margin-left: 39%;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    font-weight: 600;
}
input::placeholder,textarea::placeholder{
    color: rgba(0, 0, 0, 0.44);
    font-family: 'Poppins';
    font-size: 12px;
}


  
@media (max-width: 768px)
{
    .community-container{
        width: 80%;
    }
}